*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    line-height: 1.9;
}

#header{
    background-color: aquamarine;
    width: 20%;
    height: 100vh;
    padding: 25px;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
#header .info{
    margin-top: 20px;
    text-align: center;
}

#header .profile{
    width: 200px;
    height: 200px;
    /* background-color: black; */
    border-radius: 50%;
    margin-top: 50px;
    background-image: url(./assets/DP.jpg);
    background-position: center;
    background-size: cover;
}

#header .about{
    margin-top: 50px;
    text-align: justify;
}
#header .about>p{
    text-indent: 15px;
}

ul{
    list-style: none;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    /* justify-content: space-between; */
}
li{
    margin:0 10px;
   
}

i{
    color:black;

}

.contact
{
    margin-top: 20px;
}

.email
{
    display: flex;
    align-items: center;
}

.email p{
    margin:0 15px 0 0;
}

.phone
{
    display: flex;
    align-items: center;
   
}
.phone p{
    margin:0 15px 0 0;
}

/* Main */

.sec-head{
    text-align: center;
    margin:20px 0;
    font-size: xx-large;
    text-decoration: underline;
}
#main{
    margin-left: 20%;
    width: 80%;
    padding: 20px;
}

.info-main h1{
    font-size: 2.5rem;
}

.info-main h5{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}
.about-main{
    width: 900px;
    margin-top: 15px;
}

.about-main p{
    font-size: 20px;
    font-weight: 400;
    text-indent: 25px;
    color: #6c757d!important;
}

.projects{
    margin-top: 20px;
}

.card {
    margin-top: 20px;
    box-shadow: 3px 2px 3px 2px rgba(105, 104, 104,0.8);;
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 10px;
  }

  .card img
  {
      border-radius: 10px;
  }

  .row
  {
      margin-bottom: 30px;
  }
  
  .container {
    padding: 10px 16px;
  }
  .container p{
      padding: 10px 0;
  }

  .items{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }

  /* Education */
  .timeline-container{
    width:550px;
    margin:auto;
    position:relative;
    padding:10px;
  }
  
  .marker{
    position:absolute;
    width:2px;
    background-color:black;
    height:100%;
    left:50%;
  }
  
  div.timeline{
    width:240px;
    /* height:100px; */
    border-radius:10px;
    position: relative;
    border: 1px solid black;
    padding: 10px;
  }
  
  div.timeline:nth-child(even)
  {
   float:right;
   padding-left: 15px;
  }
  div.timeline:nth-child(odd)
  {
  clear:right;
  }

  .dot-left
  {
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    right: -10px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }

  .dot-right
  {
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
	
  }
  
  /* skills */

  .skills
  {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
  }

  .skills >div{
    flex-basis:45% ;
  }


  .skills{
    width: 100%;
  }
  .skill{
      margin: 10px 0;
  }
  .skill >p{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 2px;
  }
  .border{
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}
  .color{
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 15px;
    border-radius: 15px;
  }
  .html{
      width: 50%;
  }
  .javascript{
      width: 60%;
  }
  .react,.python{
      width: 80%;
  }